@{
  var friendlyName = "Xamarin.KotlinX.Coroutines";
  if (Model.Metadata.TryGetValue("friendlyName", out string name)) {
    friendlyName += " " + name;
  }
}
<Project Sdk="Xamarin.Legacy.Sdk">

  <PropertyGroup>
    <TargetFrameworks>$(_DefaultTargetFrameworks)</TargetFrameworks>
    <IsBindingProject>true</IsBindingProject>
    <RootNamespace>Xamarin.KotlinX.Coroutines.Core</RootNamespace>
    @if (!string.IsNullOrEmpty(Model.AssemblyName)) {
    <AssemblyName>@(Model.AssemblyName)</AssemblyName>
    } else {
    <AssemblyName>@(Model.NuGetPackageId)</AssemblyName>
    }
  </PropertyGroup>

  <PropertyGroup>
    <AndroidClassParser>class-parse</AndroidClassParser>
    <AndroidCodegenTarget>XAJavaInterop1</AndroidCodegenTarget>
  </PropertyGroup>

  <PropertyGroup>
    <PackageId>@(Model.NuGetPackageId)</PackageId>
    <Title>@(Model.NuGetPackageId) reference library for Xamarin.Android</Title>
    <PackageDescription>.NET for Android (formerly Xamarin.Android) binding for @(Model.NuGetPackageId.Replace("Xamarin", ""))</PackageDescription>
    <PackageLicenseExpression>MIT AND Apache-2.0</PackageLicenseExpression>
    <PackageVersion>@(Model.NuGetVersion)</PackageVersion>
    <PackageTags>.NET dotnet Xamarin Android artifact=@(Model.MavenGroupId):@(Model.Name) artifact_versioned=@(Model.MavenGroupId):@(Model.Name):@(Model.MavenArtifacts[0].MavenArtifactVersion)</PackageTags>
  </PropertyGroup>

  <ItemGroup>
    <None Include="@(Model.NuGetPackageId).targets" Pack="True" PackagePath="@@(AndroidXNuGetTargetFolders)" />
  </ItemGroup>

  <ItemGroup>
    <TransformFile Include="..\..\source\@(Model.MavenGroupId)\@(Model.Name)\Transforms\*.xml" Link="Transforms\%(Filename)%(Extension)" />
  </ItemGroup>

  <ItemGroup>
    <Compile Include="..\..\source\@(Model.MavenGroupId)\@(Model.Name)\Additions\*.cs" Link="Additions\%(Filename)%(Extension)" />
  </ItemGroup>

  <ItemGroup>
    @foreach (var art in @Model.MavenArtifacts) {
    <None Include="..\..\externals\@(art.MavenGroupId)\@(art.MavenArtifactId).jar" Pack="True" PackagePath="jar\@(art.MavenGroupId).@(art.MavenArtifactId)-@(art.MavenArtifactVersion).jar" Visible="false" />
    <InputJar Include="..\..\externals\@(art.MavenGroupId)\@(art.MavenArtifactId).jar" Link="Jars\@(art.MavenGroupId)\@(art.MavenArtifactId).jar" />
    }
  </ItemGroup>

  <ItemGroup>
    @foreach (var dep in @Model.NuGetDependencies) {
      if (dep.IsProjectReference) {
    <ProjectReference Include="..\..\generated\@(dep.MavenArtifact.MavenGroupId).@(dep.MavenArtifact.MavenArtifactId)\@(dep.MavenArtifact.MavenGroupId).@(dep.MavenArtifact.MavenArtifactId).csproj" PrivateAssets="none" />
      } else {
    <PackageReference Include="@(dep.NuGetPackageId)" Version="@(dep.NuGetVersion)" />
      }
    }
  </ItemGroup>

  <ItemGroup>
    <None Include="..\..\source\PackageLicense.md" Pack="True" PackagePath="LICENSE.md" />
    <None Include="..\..\templates\kotlinx\External-Dependency-Info.txt" Pack="true" PackagePath="THIRD-PARTY-NOTICES.txt" />
  </ItemGroup>

  <ItemGroup>
    <None Include=".\readme.md" Pack="True" PackagePath="readme.md" />
  </ItemGroup>

</Project>
