<Project Sdk="Xamarin.Legacy.Sdk">
  <PropertyGroup>
    <TargetFrameworks>MonoAndroid12.0;net6.0-android</TargetFrameworks>
    <IsBindingProject>true</IsBindingProject>
    <!--
      No warnings for:
       - CS0618: 'member' is obsolete: 'text'
       - CS0109: The member 'member' does not hide an inherited member. The new keyword is not required
       - CS0114: 'function1' hides inherited member 'function2'. To make the current method override that implementation, add the override keyword. Otherwise add the new keyword.
       - CS0628: 'member' : new protected member declared in sealed class
       - CS0108: 'member1' hides inherited member 'member2'. Use the new keyword if hiding was intended.
       - CS0809: Obsolete member 'member' overrides non-obsolete member 'member'
       - CS1572: XML comment has a param tag for '', but there is no parameter by that name  
       - CS1574: XML comment has cref attribute 'Observer' that could not be resolved
    -->
    <NoWarn>0618;0109;0114;0628;0108;0809;1572;1574</NoWarn>
  </PropertyGroup>

  <PropertyGroup>
    <AndroidClassParser>class-parse</AndroidClassParser>
    <AndroidCodegenTarget>XAJavaInterop1</AndroidCodegenTarget>
    <PackageLicenseExpression>MIT AND Apache-2.0</PackageLicenseExpression>
    <PackageTags>.NET dotnet Xamarin Android artifact=@(Model.MavenGroupId):@(Model.Name) artifact_versioned=@(Model.MavenGroupId):@(Model.Name):@(Model.MavenArtifacts[0].MavenArtifactVersion)</PackageTags>
  </PropertyGroup>

  <PropertyGroup>
    @foreach (var art in @Model.MavenArtifacts) 
    {
      <PackageId>@Model.NuGetPackageId</PackageId>
      <AssemblyName>@Model.NuGetPackageId</AssemblyName>
      switch(@Model.NuGetPackageId)
      {
          case "Xamarin.Google.Guava":
            <Title>Xamarin.Google.Guava Google Guava reference library for Xamarin.Android</Title>
            <PackageDescription>
            .NET for Android (formerly Xamarin.Android) bindings for Google Guava

            NOTE: This package is meant to be used as a reference only for other binding projects that depend on Guava.
            This package does not expose any useful API's in the .dll itself.

            Guava is a set of core libraries that includes new collection types (such as multimap and multiset), immutable collections, a graph library, functional types, an in-memory cache, and APIs/utilities for concurrency, I/O, hashing, primitives, reflection, string processing, and much more!
            </PackageDescription>
            <AssemblyName>Xamarin.Google.Guava</AssemblyName>
            <RootNamespace>Guava</RootNamespace>
            <NuGetJarName>guava.jar</NuGetJarName>
            break; 
          case "Xamarin.Google.Guava.FailureAccess":
            <Title>Xamarin.Google.Guava.FailureAccess Google Guava FailureAccess reference library for Xamarin.Android</Title>
            <PackageDescription>
            .NET for Android (formerly Xamarin.Android) bindings for Google Guava FailureAccess

            NOTE: This package is meant to be used as a reference only for other binding projects that depend on Guava.
            This package does not expose any useful API's in the .dll itself.

            Guava is a set of core libraries that includes new collection types (such as multimap and multiset), immutable collections, a graph library, functional types, an in-memory cache, and APIs/utilities for concurrency, I/O, hashing, primitives, reflection, string processing, and much more!
            </PackageDescription>
            <AssemblyName>Xamarin.Google.Guava.FailureAccess</AssemblyName>
            <RootNamespace>Guava.FailureAccess</RootNamespace>
            <NuGetJarName>guava-failureaccess.jar</NuGetJarName>
            break; 
          case "Xamarin.Google.Guava.ListenableFuture":
            <Title>Xamarin.Google.Guava.ListenableFuture Google Guava ListenableFuture reference library for Xamarin.Android</Title>
            <PackageDescription>
            .NET for Android (formerly Xamarin.Android) bindings for Google Guava ListenableFuture

            NOTE: This package is meant to be used as a reference only for other binding projects that depend on Guava.
            This package does not expose any useful API's in the .dll itself.

            Guava is a set of core libraries that includes new collection types (such as multimap and multiset), immutable collections, a graph library, functional types, an in-memory cache, and APIs/utilities for concurrency, I/O, hashing, primitives, reflection, string processing, and much more!
            </PackageDescription>
            <AssemblyName>Xamarin.Google.Guava.ListenableFuture</AssemblyName>
            <RootNamespace>Guava.ListenableFuture</RootNamespace>
            <NuGetJarName>guava-listenablefuture.jar</NuGetJarName>
            break; 
          default:
            break; 
      }
      <PackageVersion>@(Model.NuGetVersion)</PackageVersion>
    }
  </PropertyGroup>
    
  <ItemGroup>
    <None Include="..\..\source\@(Model.MavenGroupId)\@(Model.Name)\@(Model.NuGetPackageId).targets" Pack="True" PackagePath="@@(AndroidXNuGetTargetFolders)" />
  </ItemGroup>

  <ItemGroup>
    <TransformFile Include="..\..\source\@(Model.MavenGroupId)\@(Model.Name)\Transforms\*.xml" Link="Transforms\%(Filename)%(Extension)" />
  </ItemGroup>

  <ItemGroup>
    <Compile Include="..\..\source\@(Model.MavenGroupId)\@(Model.Name)\Additions\*.cs" Link="Additions\%(Filename)%(Extension)" />
  </ItemGroup>

  <ItemGroup>
    @foreach (var art in @Model.MavenArtifacts) 
    {
        <None Include="..\..\externals\@(art.MavenGroupId)\@(art.MavenArtifactId).jar" Pack="True" PackagePath="jar\$(NuGetJarName)" Visible="false" />
        <InputJar Include="..\..\externals\@(art.MavenGroupId)\@(art.MavenArtifactId).jar" Link="Jars\@(art.MavenGroupId)\@(art.MavenArtifactId).jar" />
    }
  </ItemGroup>

  <ItemGroup>
    @foreach (var dep in @Model.NuGetDependencies) {
      if (dep.IsProjectReference) {
    <ProjectReference Include="..\..\generated\@(dep.MavenArtifact.MavenGroupId).@(dep.MavenArtifact.MavenArtifactId)\@(dep.MavenArtifact.MavenGroupId).@(dep.MavenArtifact.MavenArtifactId).csproj" PrivateAssets="none" />
      } else {
    <PackageReference Include="@(dep.NuGetPackageId)" Version="@(dep.NuGetVersion)" />
      }
    }
  </ItemGroup>

  @if(Model.NuGetPackageId == "Xamarin.Google.Guava") {
  <ItemGroup>
    <!-- Reference a version of ListenableFuture that does not contain 'listenablefuture.jar' -->
    <PackageReference Include="Xamarin.Google.Guava.ListenableFuture" Version="9999.0.0" />
  </ItemGroup>
  }

  <ItemGroup>
    <None Include="..\..\templates\guava\License.md" Pack="true" PackagePath="License.md" />
    <None Include="..\..\templates\guava\External-Dependency-Info.txt" Pack="true" PackagePath="THIRD-PARTY-NOTICES.txt" />
  </ItemGroup>

</Project>
